<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.6" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.50.6" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.17.5" targetFramework="net45" />
  <package id="AWSSDK.Kinesis" version="3.3.3" targetFramework="net45" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.2" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Moq" version="4.7.99" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Serilog" version="2.5.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net45" />
  <package id="Shouldly" version="2.8.3" targetFramework="net45" />
</packages>